// Function Rem to Px

@use "sass:math";

$base-font-size: 16;

@function rem($size) {
  @if ($size % 2 !=0 and $size !=1) {
    @warn "rem(#{$size}) is odd. Should be even";
  }

  @if ($size==0) {
    @warn "rem(#{$size}) is zero. Use plain 0 instead";
  }

  @return math.div($size, $base-font-size) + rem;
}

// Templates

%flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin transition($prop) {
  transition: $prop $trans ease;
}

// Variables

/* Colors */
$btn_col: #e54a4a;
$hover_red: #d43b3b;
$text_col: #333333;
$bg_dark: #2d2a2b;
$bg_light: #f8f6f4;
$banner_col: #251e1e;

$trans: 0.3s;

// Specification

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  color: $text_col;
  overflow-y: scroll;
}

img {
  display: block;
  max-width: 100%;
}

span,
a {
  display: inline-block;
  line-height: rem(26);
}

span {
  font-weight: 600;
  color: $text_col;
}

a {
  color: #fff;
}

p {
  font-size: rem(14);
  font-weight: 400;
  line-height: rem(26);
  @media screen and (min-width: rem(360)) {
    font-size: rem(16);
  }
}

// Captions

h1,
h2,
h4 {
  font-weight: 700;
}

h1 {
  line-height: rem(36);
  font-size: rem(32);
  @media screen and (min-width: rem(1280)) {
    font-size: rem(42);
    line-height: rem(44);
  }
  @media screen and (min-width: rem(1536)) {
    font-size: rem(48);
  }
}

h2 {
  font-size: rem(28);
  line-height: rem(34);
  @media screen and (min-width: rem(768)) {
    font-size: rem(36);
  }
  @media screen and (min-width: rem(1536)) {
    font-size: rem(40);
  }
}

h3 {
  font-size: rem(22);
  font-weight: 400;
  line-height: rem(36);
  @media screen and (min-width: rem(1280)) {
    font-size: rem(28);
  }
  @media screen and (min-width: rem(1536)) {
    font-size: rem(32);
  }
}

h4 {
  font-size: rem(16);
  font-weight: 700;
  line-height: rem(26);
  @media screen and (min-width: rem(1280)) {
    font-size: rem(18);
  }
}

// Container

.container {
  max-width: rem(1170);
  margin: 0 auto;
  padding: 0 rem(16);
  @media screen and (max-width: rem(766)) {
    &.w-100 {
      padding: 0;
    }
  }
  @media screen and (min-width: rem(768)) {
    padding: 0 rem(30);
  }
  @media screen and (min-width: rem(1280)) {
    padding: 0;
  }
}

.banner {
  background: $banner_col;
  min-height: rem(290);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

// Button

.btn {
  padding: rem(14) rem(24);
  background: $btn_col;
  border-radius: rem(26);
  font-size: rem(18);
  font-weight: 700;
  text-align: center;
  transition: background $trans ease, box-shadow $trans ease;
  color: #fff;
  &:hover {
    background: $hover_red;
    box-shadow: rem(8) rem(6) rem(24) rgba(227, 44, 38, 0.4);
  }
  @media screen and (max-width: rem(360)) {
    font-size: rem(16);
  }
}

// Logo

.logo {
  width: rem(94);
  height: rem(32);
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg width='82' height='28' viewBox='0 0 82 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_208_83)'%3E%3Cpath d='M76.9697 5.93695H75.9812V5.58252H78.3975V5.93695H77.409V8.861H76.9917V5.93695H76.9697Z' fill='%23E32C26'/%3E%3Cpath d='M81.4948 7.42113C81.4728 6.95594 81.4508 6.40214 81.4508 6.00341H81.4289C81.3191 6.37999 81.1873 6.80087 81.0115 7.24391L80.4404 8.83885H80.1109L79.5837 7.26606C79.43 6.80087 79.2982 6.37999 79.2103 5.98125C79.2103 6.37999 79.1664 6.93378 79.1444 7.44328L79.0785 8.861H78.6831L78.9028 5.58252H79.43L79.9791 7.17746C80.1109 7.57619 80.2207 7.95277 80.3086 8.28505H80.3306C80.4184 7.95277 80.5283 7.59834 80.682 7.17746L81.2532 5.58252H81.7803L81.978 8.861H81.5607L81.4948 7.42113Z' fill='%23E32C26'/%3E%3Cpath d='M9.26988 27.69C9.18201 27.7343 8.96235 27.7786 8.65482 27.8007C8.32533 27.8229 7.97387 27.8451 7.62241 27.8451C7.16112 27.8451 6.74376 27.8007 6.37033 27.7121C5.9969 27.6235 5.68938 27.4685 5.42578 27.247C5.16219 27.0254 4.94252 26.7375 4.81073 26.3609C4.65696 25.9843 4.59106 25.5191 4.59106 24.921V10.921C4.59106 10.8988 4.76679 10.8767 5.11825 10.8324C5.46971 10.7881 5.82117 10.7881 6.1946 10.7881C6.56803 10.7881 6.94145 10.8324 7.31488 10.8988C7.68831 10.9653 8.0178 11.0982 8.32533 11.2976C8.63285 11.4969 8.87448 11.7849 9.05021 12.1394C9.22594 12.4938 9.33577 12.9811 9.33577 13.5571V27.69H9.26988Z' fill='%23E32C26'/%3E%3Cpath d='M29.8081 11.2089C29.8081 12.7152 29.5445 14 29.0393 15.0633C28.5341 16.1045 27.8311 16.9684 26.9745 17.6108C26.0958 18.2532 25.0854 18.7184 23.9431 18.9842C22.8009 19.2722 21.5927 19.4051 20.2967 19.4051H18.6273V27.7785H13.8826V4.45257C14.915 4.34182 15.9913 4.25321 17.0677 4.18675C18.144 4.1203 19.1325 4.09814 20.0112 4.09814C23.394 4.09814 25.8542 4.69625 27.4357 5.89245C29.0173 7.1108 29.8081 8.8608 29.8081 11.2089ZM24.9536 11.4526C24.9536 10.0349 24.5362 9.01587 23.7015 8.41776C22.8668 7.81966 21.7904 7.50954 20.4944 7.50954C19.7476 7.50954 19.1325 7.55384 18.6053 7.6203V16.0159H19.7476C21.439 16.0159 22.735 15.6836 23.6136 15.019C24.5142 14.3323 24.9536 13.1583 24.9536 11.4526Z' fill='%23E32C26'/%3E%3Cpath d='M47.557 19.117C47.557 20.291 47.4033 21.3986 47.1177 22.484C46.8321 23.5473 46.3489 24.4999 45.6899 25.3195C45.0309 26.1391 44.1742 26.7815 43.1418 27.2689C42.1094 27.7562 40.8353 27.9999 39.3636 27.9999C37.8919 27.9999 36.6398 27.7562 35.6074 27.291C34.575 26.8037 33.7402 26.1613 33.1032 25.3638C32.4662 24.5663 31.9829 23.6359 31.6754 22.5727C31.3679 21.5094 31.2361 20.4018 31.2361 19.2277C31.2361 18.0315 31.4118 16.9018 31.7633 15.8606C32.1147 14.7973 32.62 13.867 33.3009 13.0695C33.9819 12.272 34.8386 11.6296 35.871 11.1644C36.9034 10.6992 38.1115 10.4556 39.5174 10.4556C40.9671 10.4556 42.2192 10.6992 43.2297 11.1644C44.2621 11.6296 45.0968 12.272 45.7338 13.0473C46.3708 13.8448 46.8321 14.753 47.1177 15.8163C47.4033 16.8353 47.557 17.9429 47.557 19.117ZM42.8343 19.1391C42.8343 18.5189 42.7903 17.8765 42.7025 17.2562C42.6146 16.6359 42.4389 16.1043 42.1753 15.6391C41.9117 15.1739 41.5822 14.7973 41.1429 14.5094C40.7035 14.2214 40.1544 14.0663 39.4734 14.0663C38.7925 14.0663 38.2433 14.2214 37.782 14.5315C37.3207 14.8416 36.9693 15.2182 36.7057 15.7056C36.4421 16.1929 36.2444 16.7246 36.1346 17.3227C36.0247 17.9208 35.9588 18.541 35.9588 19.1834C35.9588 19.8037 36.0028 20.4461 36.1126 21.0663C36.2224 21.6866 36.3982 22.2625 36.6398 22.772C36.9034 23.2815 37.2548 23.6803 37.6942 23.9904C38.1555 24.3005 38.7046 24.4556 39.3856 24.4556C40.0885 24.4556 40.6596 24.3005 41.0989 23.9904C41.5602 23.6803 41.9117 23.2815 42.1533 22.772C42.4169 22.2625 42.5707 21.7087 42.6805 21.0663C42.7903 20.4461 42.8343 19.8037 42.8343 19.1391Z' fill='%23E32C26'/%3E%3Cpath d='M61.6594 12.8483C61.6594 13.2028 61.5496 13.6236 61.3299 14.0888C61.1102 14.5762 60.8686 15.0192 60.627 15.4401C60.3853 15.2629 60.1217 15.0635 59.7703 14.8642C59.4408 14.6648 59.0674 14.4876 58.65 14.3104C58.2327 14.1331 57.7933 14.0002 57.354 13.8673C56.8927 13.7566 56.4534 13.6901 55.9921 13.6901C55.7285 13.6901 55.4649 13.7123 55.2013 13.7344C54.9158 13.7787 54.6741 13.8452 54.4545 13.9338C54.2348 14.0445 54.0591 14.1996 53.9053 14.399C53.7515 14.5983 53.6856 14.8642 53.6856 15.1964C53.6856 15.9939 54.5204 16.5698 56.2118 16.9464C56.9147 17.0793 57.5956 17.2566 58.2766 17.4781C58.9575 17.6996 59.5726 18.0097 60.1217 18.4085C60.6709 18.8072 61.1102 19.3167 61.4397 19.9148C61.7692 20.5129 61.9449 21.2882 61.9449 22.1964C61.9449 23.1268 61.7692 23.9686 61.4178 24.6774C61.0663 25.4085 60.5611 26.0066 59.946 26.4939C59.331 26.9812 58.5841 27.3578 57.7494 27.6236C56.9147 27.8895 55.9921 28.0002 54.9816 28.0002C53.9712 28.0002 53.0926 27.9338 52.3896 27.7787C51.6867 27.6236 51.0936 27.4464 50.6323 27.2471C50.3028 27.1142 49.9514 26.8926 49.578 26.6268C49.2045 26.361 49.0068 25.9844 49.0068 25.5192C49.0068 25.1205 49.1167 24.6996 49.3583 24.2787C49.578 23.8578 49.8635 23.3926 50.1491 22.9274C50.3468 23.1047 50.6104 23.304 50.9399 23.5034C51.2474 23.7028 51.6208 23.88 52.0162 24.0572C52.4116 24.2344 52.8509 24.3673 53.3122 24.5002C53.7735 24.611 54.2568 24.6774 54.74 24.6774C55.0475 24.6774 55.3551 24.6553 55.6846 24.611C56.0141 24.5667 56.2996 24.4781 56.5412 24.323C56.7829 24.1901 56.9806 23.9907 57.1563 23.7692C57.3101 23.5255 57.3979 23.2376 57.3979 22.861C57.3979 22.1743 57.1343 21.7091 56.6072 21.399C56.08 21.111 55.3111 20.8673 54.2568 20.6458C53.5758 20.5129 52.9388 20.3135 52.3237 20.092C51.7087 19.8483 51.1376 19.5604 50.6543 19.1616C50.171 18.785 49.7757 18.2977 49.4901 17.6996C49.2045 17.1236 49.0508 16.4148 49.0508 15.573C49.0508 14.7312 49.2265 14.0002 49.5999 13.3578C49.9733 12.7376 50.4566 12.1838 51.0717 11.7407C51.6867 11.2977 52.3896 10.9654 53.2024 10.7439C54.0151 10.5224 54.8499 10.4116 55.7285 10.4116C56.6511 10.4116 57.4858 10.4781 58.2107 10.611C58.9356 10.7439 59.5726 10.9433 60.0998 11.1648C61.0883 11.6078 61.6155 12.1616 61.6594 12.8483Z' fill='%23E32C26'/%3E%3Cpath d='M65.0641 24.943C64.9103 24.4778 64.8005 23.9904 64.7566 23.4809C64.7126 22.9714 64.6907 22.462 64.6907 21.9303V5.69297C64.8444 5.67082 65.0202 5.64867 65.2179 5.62651C65.3716 5.60436 65.5474 5.58221 65.7451 5.58221C65.9208 5.56006 66.1185 5.56006 66.2942 5.56006C66.6676 5.56006 67.0411 5.60436 67.4145 5.67082C67.7879 5.73727 68.1174 5.87019 68.4249 6.0917C68.7325 6.29107 68.9741 6.57905 69.1498 6.95563C69.3256 7.31006 69.4354 7.7974 69.4354 8.37335V10.8322H74.246V14.3987H69.3915V21.8639C69.3915 23.4809 70.0504 24.3006 71.3684 24.3006C71.6979 24.3006 72.0054 24.2563 72.291 24.1455C72.5766 24.0347 72.8402 23.924 73.0818 23.7911C73.3234 23.6582 73.5211 23.5252 73.6968 23.3923C73.8726 23.2594 73.9824 23.1487 74.0703 23.0822C74.4217 23.5917 74.6853 24.0347 74.861 24.4113C75.0368 24.7879 75.1466 25.1423 75.1466 25.4746C75.1466 25.7847 75.0148 26.0727 74.7732 26.3828C74.5316 26.6708 74.1801 26.9588 73.7408 27.2025C73.3014 27.4461 72.7743 27.6455 72.1372 27.8006C71.5222 27.9556 70.8193 28.0221 70.0944 28.0221C68.6666 28.0221 67.5463 27.7341 66.7555 27.1803C65.9427 26.6044 65.3936 25.8733 65.0641 24.943Z' fill='%23E32C26'/%3E%3Cpath d='M3.11921 8.21839L9.73106 8.26269L8.72061 2.94623L6.39219 5.09497L0.0219727 0.177246L3.11921 8.21839Z' fill='white'/%3E%3Cpath d='M8.67667 2.79114L0 0L6.41414 4.89557L8.67667 2.79114Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_208_83'%3E%3Crect width='82' height='28' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  &.black {
    background: url("data:image/svg+xml,%3Csvg width='94' height='32' viewBox='0 0 94 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_135_2086)'%3E%3Cpath d='M88.2335 6.78495H87.1003V6.37988H89.8702V6.78495H88.7371V10.1267H88.2587V6.78495H88.2335Z' fill='%23E32C26'/%3E%3Cpath d='M93.4207 8.48115C93.3955 7.9495 93.3703 7.31659 93.3703 6.8609H93.3451C93.2192 7.29128 93.0681 7.77229 92.8667 8.27862L92.212 10.1014H91.8343L91.2299 8.30393C91.0537 7.77229 90.9026 7.29128 90.8018 6.83558C90.8018 7.29128 90.7515 7.92419 90.7263 8.50646L90.6508 10.1267H90.1975L90.4493 6.37988H91.0537L91.6832 8.20267C91.8343 8.65836 91.9602 9.08874 92.0609 9.46849H92.0861C92.1868 9.08874 92.3127 8.68368 92.489 8.20267L93.1437 6.37988H93.748L93.9746 10.1267H93.4962L93.4207 8.48115Z' fill='%23E32C26'/%3E%3Cpath d='M10.6262 31.6456C10.5255 31.6962 10.2737 31.7468 9.92115 31.7721C9.54344 31.7975 9.14054 31.8228 8.73765 31.8228C8.20885 31.8228 7.73042 31.7721 7.30234 31.6709C6.87427 31.5696 6.52174 31.3924 6.21957 31.1392C5.9174 30.8861 5.66559 30.557 5.5145 30.1266C5.33824 29.6962 5.2627 29.1645 5.2627 28.481V12.481C5.2627 12.4557 5.46414 12.4304 5.86703 12.3797C6.26993 12.3291 6.67282 12.3291 7.1009 12.3291C7.52897 12.3291 7.95704 12.3797 8.38512 12.4557C8.81319 12.5316 9.1909 12.6835 9.54344 12.9114C9.89597 13.1392 10.173 13.4683 10.3744 13.8734C10.5758 14.2785 10.7018 14.8354 10.7018 15.4937V31.6456H10.6262Z' fill='%23E32C26'/%3E%3Cpath d='M34.1704 12.8102C34.1704 14.5317 33.8682 16.0001 33.2891 17.2152C32.7099 18.4051 31.9041 19.3925 30.9221 20.1266C29.9148 20.8608 28.7565 21.3925 27.4471 21.6963C26.1377 22.0254 24.7528 22.1773 23.2671 22.1773H21.3534V31.7469H15.9143V5.08866C17.0978 4.96207 18.3317 4.86081 19.5655 4.78486C20.7994 4.70891 21.9325 4.68359 22.9398 4.68359C26.8176 4.68359 29.6379 5.36714 31.4509 6.73423C33.2639 8.12663 34.1704 10.1266 34.1704 12.8102ZM28.6054 13.0887C28.6054 11.4684 28.127 10.3038 27.1701 9.6203C26.2133 8.93676 24.9794 8.58233 23.4937 8.58233C22.6376 8.58233 21.9325 8.63296 21.3282 8.70891V18.3038H22.6376C24.5765 18.3038 26.0622 17.9241 27.0694 17.1646C28.1018 16.3798 28.6054 15.038 28.6054 13.0887Z' fill='%23E32C26'/%3E%3Cpath d='M54.5165 21.848C54.5165 23.1897 54.3402 24.4556 54.0129 25.6961C53.6855 26.9112 53.1315 27.9999 52.3761 28.9366C51.6207 29.8733 50.6386 30.6075 49.4551 31.1644C48.2716 31.7214 46.8112 31.9999 45.124 31.9999C43.4369 31.9999 42.0016 31.7214 40.8181 31.1897C39.6346 30.6328 38.6777 29.8986 37.9475 28.9872C37.2173 28.0758 36.6633 27.0125 36.3107 25.7973C35.9582 24.5821 35.8071 23.3163 35.8071 21.9745C35.8071 20.6074 36.0086 19.3163 36.4115 18.1264C36.8144 16.9112 37.3935 15.848 38.1741 14.9366C38.9547 14.0252 39.9368 13.291 41.1203 12.7593C42.3038 12.2277 43.6887 11.9492 45.3003 11.9492C46.9622 11.9492 48.3975 12.2277 49.5559 12.7593C50.7394 13.291 51.6962 14.0252 52.4265 14.9112C53.1567 15.8226 53.6855 16.8606 54.0129 18.0758C54.3402 19.2404 54.5165 20.5062 54.5165 21.848ZM49.1026 21.8733C49.1026 21.1644 49.0522 20.4302 48.9515 19.7214C48.8508 19.0125 48.6494 18.4049 48.3472 17.8733C48.045 17.3416 47.6673 16.9112 47.1637 16.5821C46.6601 16.253 46.0305 16.0758 45.2499 16.0758C44.4693 16.0758 43.8398 16.253 43.311 16.6074C42.7822 16.9619 42.3793 17.3923 42.0772 17.9492C41.775 18.5062 41.5484 19.1138 41.4225 19.7973C41.2966 20.4809 41.221 21.1897 41.221 21.9239C41.221 22.6328 41.2714 23.3669 41.3973 24.0758C41.5232 24.7847 41.7246 25.4429 42.0016 26.0252C42.3038 26.6075 42.7067 27.0631 43.2103 27.4176C43.7391 27.772 44.3686 27.9492 45.1492 27.9492C45.955 27.9492 46.6097 27.772 47.1133 27.4176C47.6421 27.0631 48.045 26.6075 48.322 26.0252C48.6242 25.4429 48.8004 24.81 48.9263 24.0758C49.0523 23.3669 49.1026 22.6328 49.1026 21.8733Z' fill='%23E32C26'/%3E%3Cpath d='M70.6826 14.6832C70.6826 15.0883 70.5567 15.5693 70.3049 16.101C70.0531 16.6579 69.7761 17.1643 69.4991 17.6453C69.2221 17.4427 68.9199 17.2149 68.5171 16.987C68.1393 16.7592 67.7113 16.5567 67.2328 16.3541C66.7544 16.1516 66.2508 15.9997 65.7472 15.8478C65.2184 15.7212 64.7148 15.6453 64.186 15.6453C63.8838 15.6453 63.5816 15.6706 63.2794 15.6959C62.9521 15.7465 62.6751 15.8225 62.4233 15.9238C62.1715 16.0503 61.97 16.2276 61.7938 16.4554C61.6175 16.6832 61.542 16.987 61.542 17.3668C61.542 18.2782 62.4988 18.9364 64.4378 19.3668C65.2435 19.5187 66.0241 19.7212 66.8048 19.9744C67.5854 20.2276 68.2904 20.582 68.9199 21.0377C69.5495 21.4934 70.0531 22.0757 70.4308 22.7592C70.8085 23.4427 71.0099 24.3288 71.0099 25.3668C71.0099 26.4301 70.8085 27.3921 70.4056 28.2022C70.0027 29.0377 69.4236 29.7212 68.7185 30.2782C68.0134 30.8351 67.1573 31.2655 66.2004 31.5693C65.2435 31.8731 64.186 31.9997 63.0276 31.9997C61.8693 31.9997 60.8621 31.9238 60.0563 31.7465C59.2505 31.5693 58.5706 31.3668 58.0418 31.1389C57.6641 30.987 57.2612 30.7339 56.8332 30.4301C56.4051 30.1263 56.1785 29.6959 56.1785 29.1643C56.1785 28.7086 56.3044 28.2275 56.5814 27.7465C56.8332 27.2655 57.1605 26.7339 57.4879 26.2022C57.7145 26.4048 58.0167 26.6326 58.3944 26.8605C58.7469 27.0883 59.175 27.2908 59.6282 27.4934C60.0815 27.6959 60.5851 27.8478 61.1139 27.9997C61.6427 28.1263 62.1967 28.2022 62.7506 28.2022C63.1032 28.2022 63.4557 28.1769 63.8334 28.1263C64.2111 28.0757 64.5385 27.9744 64.8155 27.7972C65.0925 27.6453 65.3191 27.4174 65.5205 27.1643C65.6968 26.8858 65.7975 26.5567 65.7975 26.1263C65.7975 25.3415 65.4954 24.8098 64.891 24.4554C64.2867 24.1263 63.4054 23.8478 62.1967 23.5946C61.4161 23.4427 60.6858 23.2149 59.9808 22.9617C59.2757 22.6832 58.621 22.3541 58.067 21.8984C57.513 21.4681 57.0598 20.9111 56.7324 20.2276C56.4051 19.5693 56.2288 18.7592 56.2288 17.7972C56.2288 16.8351 56.4303 15.9997 56.8583 15.2655C57.2864 14.5567 57.8404 13.9238 58.5455 13.4174C59.2505 12.9111 60.0563 12.5313 60.988 12.2782C61.9197 12.025 62.8766 11.8984 63.8838 11.8984C64.9414 11.8984 65.8982 11.9744 66.7292 12.1263C67.5602 12.2782 68.2904 12.506 68.8948 12.7592C70.0279 13.2655 70.6322 13.8984 70.6826 14.6832Z' fill='%23E32C26'/%3E%3Cpath d='M74.5855 28.5064C74.4093 27.9747 74.2834 27.4178 74.233 26.8355C74.1826 26.2532 74.1575 25.6709 74.1575 25.0633V6.50639C74.3337 6.48107 74.5352 6.45576 74.7618 6.43044C74.9381 6.40512 75.1395 6.37981 75.3661 6.37981C75.5676 6.35449 75.7942 6.35449 75.9957 6.35449C76.4237 6.35449 76.8518 6.40513 77.2799 6.48107C77.708 6.55702 78.0857 6.70892 78.4382 6.96209C78.7907 7.18993 79.0677 7.51905 79.2692 7.94943C79.4706 8.35449 79.5965 8.91145 79.5965 9.56968V12.3798H85.1111V16.4558H79.5462V24.9874C79.5462 26.8355 80.3016 27.7722 81.8124 27.7722C82.1902 27.7722 82.5427 27.7216 82.87 27.595C83.1974 27.4684 83.4996 27.3418 83.7766 27.1899C84.0535 27.038 84.2802 26.8861 84.4816 26.7342C84.6831 26.5823 84.809 26.4558 84.9097 26.3798C85.3126 26.9621 85.6147 27.4684 85.8162 27.8988C86.0176 28.3292 86.1435 28.7342 86.1435 29.114C86.1435 29.4684 85.9925 29.7975 85.7155 30.152C85.4385 30.4811 85.0356 30.8102 84.532 31.0887C84.0284 31.3671 83.424 31.595 82.6938 31.7722C81.9887 31.9494 81.1829 32.0254 80.352 32.0254C78.7152 32.0254 77.431 31.6963 76.5245 31.0633C75.5928 30.4051 74.9633 29.5697 74.5855 28.5064Z' fill='%23E32C26'/%3E%3Cpath d='M3.57564 9.39202L11.1551 9.44266L9.99675 3.36671L7.32759 5.8224L0.0251465 0.202148L3.57564 9.39202Z' fill='%23333333'/%3E%3Cpath d='M9.94642 3.18987L0 0L7.3528 5.59494L9.94642 3.18987Z' fill='%23333333'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_135_2086'%3E%3Crect width='94' height='32' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  }
}

.logo_wrap {
  display: flex;
  align-items: baseline;
  span {
    font-size: rem(32);
    margin-left: rem(4);
  }
}

// Links animation

.btn_wrap {
  text-align: center;
}

.menu_link {
  display: inline-flex;
  padding-top: 10px;
  padding-bottom: 5px;
  overflow: hidden;
  position: relative;
  transition: color 0.3s ease;
  &:before,
  a:after {
    content: "";
    position: absolute;
    transition: left $trans ease;
  }
  &:before {
    left: -100%;
    bottom: 0;
    width: 100%;
    height: rem(2);
    background: #e54a4a;
  }
  &:hover {
    color: #e54a4a;
    &:before {
      left: 0;
    }
  }
}

// Mobile menu

.btn_hamburger {
  width: rem(32);
  height: rem(32);
  display: grid;
  align-items: center;
  span {
    height: rem(4);
    background: #fff;
    border-radius: rem(4);
    transition: width $trans ease, opacity $trans ease, transform $trans ease;
    width: 100%;
    &:last-child {
      width: rem(24);
    }
  }
  // Open
  &.open span {
    &:nth-child(1) {
      transform: translateY(rem(8)) rotate(45deg);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      transform: translateY(rem(-12)) rotate(-45deg);
      width: 100%;
    }
  }
  &.open {
    justify-items: end;
  }
}

// Header

.header {
  background: $bg_dark;
  width: 100%;
  top: -100%;
  left: 0;
  z-index: 999;
  transition: height $trans ease, top $trans ease;
  .logo {
    width: rem(82);
    height: rem(28);
  }
  &.sticky {
    position: sticky;
    opacity: 1;
    top: rem(-1);
  }
  &.show {
    position: sticky;
    top: rem(-1);
    .menu_list {
      flex-direction: column;
      height: 100%;
      z-index: -1;
      left: 0;
      @media screen and (min-width: rem(640)) {
        height: rem(390);
      }
    }
  }
}

// Scroller

#scroller {
  position: fixed;
  z-index: 998;
  bottom: 5%;
  right: 3%;
  border-radius: 50%;
  width: rem(50);
  height: rem(50);
  cursor: pointer;
  background: $btn_col;
  opacity: 1;
  transition: background $trans ease, margin $trans ease, opacity $trans ease;
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: rem(8);
    height: rem(8);
    left: rem(20);
    top: rem(22);
    border: rem(2) solid #fff;
    border-bottom: 0;
    border-right: 0;
    transform: rotate(45deg);
  }
  &:hover {
    margin-bottom: rem(10);
    background: $hover_red;
  }
  &.hidden {
    opacity: 0;
  }
}
