
// Contact banner

.contact_heading {
  color: #fff;
  text-align: center;
  max-width: rem(442);
  margin: 0 auto;
  h1 {
    margin-bottom: rem(8);
  }
}

// Form section

.form_section {
  padding: rem(120) 0;
}

.contact_form {
  max-width: rem(370);
  margin: 0 auto;
  &.loading {
    .form_loader {
      opacity: 1;
      visibility: visible;
    }
  }
}

.form_body {
  display: grid;
  gap: rem(30);
  margin-bottom: rem(40);
  * {
    outline: none;
    font: inherit;
  }
}

.form_item {
  position: relative;
  label {
    font-size: rem(12);
    color: #888;
    position: absolute;
    left: 0;
    top: rem(6);
    visibility: hidden;
    opacity: 0;
    transition: opacity $trans ease, visibility $trans ease, top $trans ease;
  }
  .error_message {
    color: $btn_col;
    font-size: rem(12);
    margin-top: rem(4);
  }
}

.form_input {
  padding-bottom: rem(4) !important;
  line-height: rem(26);
  width: 100%;
  border: 0;
  @include transition(border);
  border-bottom: rem(1) solid rgba(51, 51, 51, 0.3);
  &::placeholder {
    color: $text_col;
    font-size: rem(16);
    font-weight: 400;
  }
  &.focus + label {
    opacity: 1;
    visibility: visible;
    top: rem(-12);
  }
  &.error {
    border-bottom: rem(1) solid #E83434;
  }
}

.form_btn {
  width: 100%;
  cursor: pointer;
  span {
    color: #fff;
  }
}

.form_textarea {
  resize: vertical;
  overflow: hidden;
  height: rem(30);
}

// Loader Animation

.form_loader {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba($color: #000, $alpha: 0.3);
}

.dot {
  width: rem(24);
  height: rem(24);
  background: #fff;
  border-radius: 100%;
  display: inline-block;
  animation: slide 1s infinite;
  &:nth-child(1) {
    animation-delay: 0.1s;
  }
  &:nth-child(2) {
    animation-delay: 0.2s;
  }
  &:nth-child(3) {
    animation-delay: 0.3s;
  }
  &:nth-child(4) {
    animation-delay: 0.4s;
  }
  &:nth-child(5) {
    animation-delay: 0.5s;
  }
}

@keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

// Pop Up

.contact_pop_up {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba($color: #000, $alpha: 0.3);
  opacity: 0;
  visibility: hidden;
  transition: opacity $trans ease, visibility $trans ease;
  &.send {
    opacity: 1;
    visibility: visible;
  }
}

.pop_up_content {
  max-width: rem(570);
  width: 100%;
  height: rem(294);
  background: #fff;
  box-shadow: rem(8) rem(8) rem(24) rgba(0, 0, 0, 0.15);
  border-radius: rem(8);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 rem(16);
  @media screen and (min-width: rem(768)) {
    margin: 0 rem(30);
  }
  @media screen and (min-width: rem(1280)) {
    margin: 0;
  } 
  p {
    max-width: rem(278);
    margin: 0 auto;
    margin: rem(16) auto rem(32);
    @media screen and (min-width: rem(480)) {
      max-width: rem(480);
    }
  }
}

.pop_up_btn {
  width: rem(120);
  height: rem(50);
  margin: 0 auto;
}


