
// Section 'Quote'

.quote {
  padding: rem(54) 0 rem(70);
  background: $bg_light;
  .royal_mail {
    width: rem(84);
  }
}

.quote_message {
  text-align: center;
  margin-bottom: rem(16);
}



// Advantage offer

.advantage_offer {
  padding-top: rem(82);
}

.offer_message {
  h3 {
    margin-bottom: rem(24);
  }
}

// Old way

.way_list {
  margin-top: rem(48);
}

.old_way {
  text-align: center;
}

.old_way_list {
  display: grid;
  justify-content: center;
  gap: rem(80) rem(30);
  grid-template: repeat(3,1fr) / repeat(2, rem(148));
}

.old_way_item {
  width: rem(148);
  height: rem(104);
  text-align: center;
  position: relative;
    &::after {
      content: "";
      display: block;
      width: rem(30);
      height: rem(2); 
      background: $text_col;
      position: absolute;
      right: rem(-30);
      top: rem(36);
    }
    &.print::after {
      display: none;
    }
    &.deliver::after {
      right: auto;
      left: rem(-30);
    }
    &.envelope::after, &.box::after{
      transform: rotate(-90deg);
      top: rem(-40);
      right: rem(58);
    }
}

.way_icon {
  width: rem(72);
  height: rem(72);
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  &.paper {
    background-image: url("data:image/svg+xml,%3Csvg width='43' height='50' viewBox='0 0 43 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M41.641 12.9141L29.9147 1.21415C29.3877 0.828432 28.9925 0.571289 28.4654 0.571289H5.80343C3.16832 0.571289 0.928467 2.757 0.928467 5.457V44.5427C0.928467 47.2427 3.16832 49.4284 5.80343 49.4284H37.1613C39.9282 49.4284 42.0363 47.2427 42.0363 44.5427V14.1999C42.168 13.6856 41.9045 13.1713 41.641 12.9141ZM30.4418 7.257L35.5802 12.2713H31.4958C30.9688 12.2713 30.5735 11.8856 30.5735 11.2427V7.257H30.4418ZM38.2154 44.5427C38.2154 45.057 37.8201 45.5713 37.2931 45.5713H5.80343C5.27641 45.5713 4.88114 45.1856 4.88114 44.5427V5.457C4.88114 4.94272 5.27641 4.42843 5.80343 4.42843H26.3573V11.2427C26.3573 13.9427 28.5972 16.1284 31.2323 16.1284H38.0836V44.5427H38.2154Z' fill='%23333333'/%3E%3C/svg%3E");
  }
  &.print {
    background-image: url("data:image/svg+xml,%3Csvg width='57' height='50' viewBox='0 0 57 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M50.7974 12.2518H46.8476V5.46956C46.8476 2.83203 44.6815 0.571289 42.0059 0.571289H14.7395C12.0638 0.571289 9.89775 2.70643 9.89775 5.46956V12.2518H6.07536C2.89003 12.2518 0.214355 14.8893 0.214355 18.1548V33.7288C0.214355 36.9944 2.89003 39.6319 6.07536 39.6319H10.0252V44.5302C10.0252 47.1677 12.1912 49.4284 14.8669 49.4284H42.1333C44.8089 49.4284 46.975 47.2933 46.975 44.5302V39.6319H50.9248C54.1101 39.6319 56.7858 36.9944 56.7858 33.7288V18.1548C56.6584 14.8893 53.9827 12.2518 50.7974 12.2518ZM13.8476 5.46956C13.8476 4.96718 14.2298 4.46479 14.8669 4.46479H42.1333C42.6429 4.46479 43.1526 4.84158 43.1526 5.46956V12.2518H13.8476V5.46956ZM43.0252 44.4046C43.0252 44.907 42.6429 45.4093 42.0059 45.4093H14.7395C14.2298 45.4093 13.7201 45.0325 13.7201 44.4046V33.7288H42.8978V44.4046H43.0252ZM52.7086 33.7288C52.7086 34.8592 51.8167 35.7384 50.7974 35.7384H46.8476V31.8449C46.8476 30.7145 45.9557 29.8353 44.9364 29.8353H11.9364C10.9171 29.8353 10.0252 30.7145 10.0252 31.8449V35.7384H6.07536C5.05605 35.7384 4.16416 34.8592 4.16416 33.7288V18.1548C4.16416 17.0245 5.05605 16.1453 6.07536 16.1453H50.7974C51.8167 16.1453 52.7086 17.0245 52.7086 18.1548V33.7288Z' fill='%23333333'/%3E%3Cpath d='M43.9171 20.0386C45.5734 20.0386 46.8476 21.2945 46.8476 22.9273C46.8476 24.5601 45.5734 25.816 43.9171 25.816C42.2607 25.816 40.9866 24.5601 40.9866 22.9273C40.9866 21.4201 42.3881 20.0386 43.9171 20.0386Z' fill='%23333333'/%3E%3C/svg%3E");
  }
  &.stamp {
    background-image: url("data:image/svg+xml,%3Csvg width='39' height='48' viewBox='0 0 39 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M37.8037 17.4821C38.2016 17.28 38.5 16.7747 38.5 16.3705V11.0147C38.5 10.5095 38.301 10.1053 37.8037 9.90316C37.3063 9.6 37.0079 9.09474 37.0079 8.48842C37.0079 7.8821 37.3063 7.37684 37.8037 7.17474C38.2016 6.97263 38.5 6.46737 38.5 6.06316V1.31368C38.5 0.606316 37.9031 0 37.2068 0H32.233C31.7356 0 31.3377 0.303158 31.0393 0.707368C30.7408 1.21263 30.2435 1.61684 29.6466 1.61684C29.0497 1.61684 28.5524 1.31368 28.2539 0.707368C28.055 0.303158 27.5576 0 27.0602 0H21.9869C21.4895 0 21.0916 0.303158 20.7932 0.707368C20.4948 1.21263 19.9974 1.61684 19.4005 1.61684C18.8037 1.61684 18.3063 1.31368 18.0079 0.707368C17.9084 0.303158 17.411 0 16.9136 0H11.8403C11.3429 0 10.8455 0.303158 10.6466 0.707368C10.4476 1.31368 9.85079 1.61684 9.25393 1.61684C8.65707 1.61684 8.15969 1.31368 7.86126 0.707368C7.6623 0.303158 7.2644 0 6.76702 0H1.79319C1.09686 0 0.5 0.606316 0.5 1.31368V5.86105C0.5 6.36632 0.798429 6.87158 1.19634 7.07368C1.69372 7.37684 2.09162 7.8821 2.09162 8.48842C2.09162 9.09474 1.79319 9.6 1.19634 9.90316C0.798429 10.1053 0.5 10.6105 0.5 11.1158V16.2695C0.5 16.7747 0.798429 17.28 1.19634 17.4821C1.69372 17.7853 2.09162 18.2905 2.09162 18.8968C2.09162 19.5032 1.79319 20.0084 1.19634 20.3116C0.798429 20.5137 0.5 20.9179 0.5 21.4232V26.5768C0.5 27.0821 0.798429 27.5874 1.19634 27.7895C1.69372 28.0926 2.09162 28.5979 2.09162 29.2042C2.09162 29.8105 1.79319 30.3158 1.19634 30.6189C0.798429 30.8211 0.5 31.3263 0.5 31.8316V36.9853C0.5 37.4905 0.798429 37.9958 1.19634 38.1979C1.69372 38.5011 2.09162 39.0063 2.09162 39.6126C2.09162 40.2189 1.79319 40.7242 1.19634 41.0274C0.798429 41.2295 0.5 41.6337 0.5 42.1389V46.5853C0.5 47.2926 1.09686 47.8989 1.79319 47.8989H6.76702C7.2644 47.8989 7.6623 47.6968 7.86126 47.1916C8.25916 46.7874 8.75655 46.4842 9.25393 46.4842C9.85079 46.4842 10.3482 46.7874 10.5471 47.2926C10.7461 47.6968 11.2435 48 11.6414 48H16.9136C17.411 48 17.8089 47.7979 18.0079 47.2926C18.3063 46.7874 18.8037 46.4842 19.301 46.4842C19.7984 46.4842 20.3953 46.7874 20.5942 47.2926C20.7932 47.6968 21.2906 48 21.6885 48H26.9607C27.4581 48 27.856 47.7979 28.055 47.2926C28.3534 46.7874 28.8508 46.4842 29.3482 46.4842C29.945 46.4842 30.4424 46.7874 30.6414 47.2926C30.8403 47.6968 31.3377 48 31.7356 48H36.7094C37.4058 48 38.0026 47.3937 38.0026 46.6863V42.1389C38.0026 41.6337 37.8037 41.2295 37.3063 41.0274C36.8089 40.7242 36.5105 40.2189 36.5105 39.7137C36.5105 39.1074 36.8089 38.6021 37.3063 38.4C37.7042 38.1979 38.0026 37.6926 38.0026 37.2884V31.9326C38.0026 31.4274 37.7042 31.0232 37.3063 30.8211C37.0079 30.6189 36.8089 30.4168 36.7094 30.2147V28.8C36.8089 28.4968 37.0079 28.2947 37.3063 28.1937C37.7042 27.9916 38.0026 27.4863 38.0026 27.0821V21.7263C38.0026 21.2211 37.8037 20.8168 37.3063 20.6147C36.8089 20.3116 36.5105 19.8063 36.5105 19.3011C37.0079 18.2905 37.3063 17.7853 37.8037 17.4821ZM32.8298 27.5874V25.6674C33.1283 25.6674 33.3272 25.6674 33.6257 25.6674C34.2225 25.6674 34.8194 25.6674 35.5157 25.7684H35.8141V25.9705C35.3168 26.3747 35.0183 26.88 34.7199 27.4863C34.123 27.4863 33.4267 27.5874 32.8298 27.5874ZM19.1021 38.501H16.0183C18.1073 32.2358 23.3796 27.3853 29.945 26.0716V28.2947C24.8717 29.8105 20.8927 33.6505 19.1021 38.501ZM29.8455 31.4274V36.6821C29.8455 37.6926 29.0497 38.4 28.1544 38.4H22.2853C23.877 35.2674 26.5628 32.7411 29.8455 31.4274ZM29.8455 22.9389C21.6885 24.3537 15.123 30.5179 12.8351 38.501H11.0445C10.0497 38.501 9.3534 37.6926 9.3534 36.7832V11.2168C9.3534 10.2063 10.1492 9.49895 11.0445 9.49895H28.1544C29.1492 9.49895 29.8455 10.3074 29.8455 11.2168V22.9389ZM9.25393 43.7558C8.06021 43.7558 6.86649 44.2611 6.17016 45.1705H3.08639V42.8463C4.08115 42.0379 4.67801 40.8253 4.67801 39.5116C4.67801 38.1979 4.08115 36.9853 3.08639 36.1768V32.5389C4.08115 31.7305 4.67801 30.5179 4.67801 29.2042C4.67801 27.8905 4.08115 26.6779 3.08639 25.8695V22.2316C4.08115 21.4232 4.67801 20.2105 4.67801 18.8968C4.67801 17.5832 4.08115 16.3705 3.08639 15.5621V11.9242C4.08115 11.1158 4.67801 9.90316 4.67801 8.58947C4.67801 7.27579 4.08115 6.06316 3.08639 5.25474V2.62737H5.9712C6.76702 3.63789 7.96073 4.24421 9.25393 4.24421C10.5471 4.24421 11.7408 3.63789 12.5366 2.62737H16.2173C17.0131 3.63789 18.2068 4.24421 19.5 4.24421C20.7932 4.24421 21.9869 3.63789 22.7827 2.62737H26.3639C27.1597 3.63789 28.3534 4.24421 29.6466 4.24421C30.9398 4.24421 32.1335 3.63789 32.9293 2.62737H35.8141V5.25474C34.9188 6.06316 34.4215 7.17474 34.4215 8.48842C34.4215 9.70105 34.9188 10.9137 35.8141 11.7221V15.6632C34.9188 16.4716 34.4215 17.5832 34.4215 18.8968C34.4215 20.1095 34.9188 21.3221 35.8141 22.1305V22.8379H35.6152C34.8194 22.7368 34.2225 22.7368 33.6257 22.7368C33.3272 22.7368 33.1283 22.7368 32.8298 22.7368V11.2168C32.8298 8.58947 30.7408 6.46737 28.1544 6.46737H11.0445C8.45812 6.46737 6.36911 8.58947 6.36911 11.2168V36.7832C6.36911 39.4105 8.45812 41.5326 11.0445 41.5326H12.2382C12.1387 42.5432 12.0393 43.5537 12.0393 44.5642C12.0393 44.6653 12.0393 44.7663 12.0393 44.7663C11.2435 44.16 10.2487 43.7558 9.25393 43.7558ZM16.3168 45.2716H14.9241C14.9241 45.0695 14.9241 44.8674 14.9241 44.7663C14.9241 44.5642 14.9241 44.3621 14.9241 44.16C14.9241 43.2505 15.0236 42.4421 15.123 41.6337H18.1073C17.9084 42.4421 17.9084 43.3516 17.8089 44.2611C17.3115 44.3621 16.8141 44.7663 16.3168 45.2716ZM35.8141 45.2716H32.7304C32.1335 44.5642 31.3377 44.16 30.5419 43.9579C29.6466 44.3621 28.6518 44.5642 27.6571 44.4632C27.2592 44.6653 26.8613 44.9684 26.5628 45.3726H22.6832C22.1859 44.8674 21.6885 44.4632 20.9921 44.2611C20.9921 43.3516 21.0916 42.5432 21.2906 41.7347H28.1544C30.7408 41.7347 32.8298 39.6126 32.8298 36.9853V30.9221C33.4267 30.8211 34.0236 30.8211 34.6204 30.8211C34.8194 31.5284 35.2173 32.1347 35.8141 32.64V36.3789C35.2173 36.8842 34.8194 37.5916 34.6204 38.4C34.6204 38.8042 34.5209 39.1074 34.4215 39.5116V39.6126C34.4215 40.8253 34.9188 42.0379 35.8141 42.8463V45.2716Z' fill='%23333333'/%3E%3C/svg%3E");
  }
  &.envelope {
    background-image: url("data:image/svg+xml,%3Csvg width='49' height='48' viewBox='0 0 49 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48.5 7.8C48.5 5.73131 47.6782 3.74735 46.2154 2.28457C44.7526 0.821783 42.7687 0 40.7 0H15.5C13.4313 0 11.4473 0.821783 9.98457 2.28457C8.52178 3.74735 7.7 5.73131 7.7 7.8V19.2168C7.89979 19.2054 8.09988 19.1998 8.3 19.2H11.3V7.8C11.3 6.68609 11.7425 5.61781 12.5302 4.83015C13.3178 4.0425 14.3861 3.6 15.5 3.6H40.7C41.8139 3.6 42.8822 4.0425 43.6698 4.83015C44.4575 5.61781 44.9 6.68609 44.9 7.8V35.4C44.9 37.7184 43.0184 39.6 40.7 39.6H38.9V40.2C38.9 41.244 38.744 42.252 38.4512 43.2H40.7C42.7687 43.2 44.7526 42.3782 46.2154 40.9154C47.6782 39.4527 48.5 37.4687 48.5 35.4V7.8ZM37.1 7.2C37.5774 7.2 38.0352 7.38964 38.3728 7.72721C38.7104 8.06477 38.9 8.52261 38.9 9C38.9 9.47739 38.7104 9.93523 38.3728 10.2728C38.0352 10.6104 37.5774 10.8 37.1 10.8H19.1C18.6226 10.8 18.1648 10.6104 17.8272 10.2728C17.4896 9.93523 17.3 9.47739 17.3 9C17.3 8.52261 17.4896 8.06477 17.8272 7.72721C18.1648 7.38964 18.6226 7.2 19.1 7.2H37.1ZM34.1 15C34.1 14.5226 33.9104 14.0648 33.5728 13.7272C33.2352 13.3896 32.7774 13.2 32.3 13.2H19.1C18.6226 13.2 18.1648 13.3896 17.8272 13.7272C17.4896 14.0648 17.3 14.5226 17.3 15C17.3 15.4774 17.4896 15.9352 17.8272 16.2728C18.1648 16.6104 18.6226 16.8 19.1 16.8H32.3C32.7774 16.8 33.2352 16.6104 33.5728 16.2728C33.9104 15.9352 34.1 15.4774 34.1 15ZM36.5 29.4C36.5 27.3313 35.6782 25.3474 34.2154 23.8846C32.7526 22.4218 30.7687 21.6 28.7 21.6H8.3C7.27569 21.6 6.26141 21.8018 5.31507 22.1937C4.36873 22.5857 3.50886 23.1603 2.78456 23.8846C2.06027 24.6089 1.48572 25.4687 1.09373 26.4151C0.701748 27.3614 0.5 28.3757 0.5 29.4V40.2C0.5 41.2243 0.701748 42.2386 1.09373 43.1849C1.48572 44.1313 2.06027 44.9911 2.78456 45.7154C3.50886 46.4397 4.36873 47.0143 5.31507 47.4063C6.26141 47.7983 7.27569 48 8.3 48H28.7C29.7243 48 30.7386 47.7983 31.6849 47.4063C32.6313 47.0143 33.4911 46.4397 34.2154 45.7154C34.9397 44.9911 35.5143 44.1313 35.9063 43.1849C36.2982 42.2386 36.5 41.2243 36.5 40.2V29.4ZM28.7 25.2C29.9096 25.2 31.0016 25.7112 31.7672 26.532L18.5 35.0592L5.2328 26.532C5.62514 26.1112 6.09997 25.7758 6.62769 25.5466C7.1554 25.3174 7.72467 25.1994 8.3 25.2H28.7ZM32.9 40.2C32.9 42.5184 31.0184 44.4 28.7 44.4H8.3C7.18609 44.4 6.1178 43.9575 5.33015 43.1698C4.5425 42.3822 4.1 41.3139 4.1 40.2V30.0816L17.5256 38.7144C17.8162 38.9015 18.1544 39.0009 18.5 39.0009C18.8456 39.0009 19.1838 38.9015 19.4744 38.7144L32.9 30.0816V40.2Z' fill='%23333333'/%3E%3C/svg%3E");
  }
  &.box {
    background-image: url("data:image/svg+xml,%3Csvg width='39' height='66' viewBox='0 0 39 66' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.908 36.0953H26.3366V34.762V25.1429V23.8096H24.908H14.1937H12.7651V25.1429V34.762V36.0953H14.1937H24.908ZM15.6223 26.4762H23.3774V33.3334H15.6223V26.4762Z' fill='%23333333'/%3E%3Cpath d='M25.9286 14.3809H12.051V16.6666H25.9286V14.3809Z' fill='%23333333'/%3E%3Cpath d='M38.7858 12.476V5.90455L38.0715 5.5236C32.1531 2.38074 25.8266 0.856934 19.5001 0.856934C8.5817 0.856934 1.23476 5.33312 0.928641 5.5236L0.214355 5.90455V12.3807H5.8266V18.5712H5.01027H3.5817V19.9046V47.2379H2.76538C1.94905 47.2379 1.3368 47.8093 1.3368 48.5712V63.8093C1.3368 64.5712 1.94905 65.1427 2.76538 65.1427H36.3368C37.1531 65.1427 37.7654 64.5712 37.7654 63.8093V48.5712C37.7654 47.8093 37.1531 47.2379 36.3368 47.2379H35.4184V19.9998V18.6665H33.9899H32.1531V12.476H38.7858ZM2.86742 7.61884C4.90823 6.57122 11.1327 3.71408 19.5001 3.71408C25.2144 3.71408 30.8266 5.04741 36.1327 7.61884V9.5236H2.86742V7.61884ZM34.9082 62.476H4.19395V49.9998H34.9082V62.476ZM32.5613 47.3331H6.54089V21.3331H32.5613V47.3331ZM29.1939 18.6665H8.68374V12.476H29.1939V18.6665Z' fill='%23333333'/%3E%3C/svg%3E");
  }
  &.deliver {
    background-image: url("data:image/svg+xml,%3Csvg width='65' height='52' viewBox='0 0 65 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M60.6471 51.7143H4.353C2.12004 51.7143 0.357178 49.7943 0.357178 47.5143V44.9944C0.357178 42.5944 2.12004 40.7944 4.353 40.7944H8.46635C9.52406 40.7944 10.3467 41.6344 10.3467 42.7144C10.3467 43.7944 9.52406 44.6344 8.46635 44.6344H4.353C4.23548 44.6344 4.11795 44.8744 4.11795 45.1144V47.6343C4.11795 47.8743 4.23548 48.1143 4.353 48.1143H60.6471C60.7646 48.1143 60.8821 47.8743 60.8821 47.6343V45.1144C60.8821 44.8744 60.7646 44.6344 60.6471 44.6344H49.3648C48.307 44.6344 47.4844 43.7944 47.4844 42.7144C47.4844 41.6344 48.307 40.7944 49.3648 40.7944H60.6471C62.88 40.7944 64.6429 42.7144 64.6429 44.9944V47.5143C64.5254 49.9143 62.7625 51.7143 60.6471 51.7143Z' fill='%23333333'/%3E%3Cpath d='M59.9422 27.3546L47.1321 2.63494C46.0744 0.474967 43.4888 -0.36502 41.3734 0.834962L6.58625 19.5547C4.47082 20.6347 3.64815 23.2746 4.82339 25.4346L15.1655 45.4743C16.4583 45.4743 17.751 45.4743 19.0438 45.4743L8.58416 25.1946L26.8004 30.9545C29.3859 31.7945 32.089 31.4345 34.322 30.2345C36.5549 29.0345 38.3178 26.9946 39.1404 24.2346L44.7816 5.63489L56.7691 28.9146C57.0041 29.3945 56.7691 29.8745 56.4165 30.1145L28.2107 45.4743H35.4972L58.0618 33.3545C60.1773 32.1545 60.9999 29.5145 59.9422 27.3546ZM35.9673 23.2746C34.9096 26.7546 31.2663 28.6746 27.8581 27.5946L9.64188 21.9547L41.6084 4.67491L35.9673 23.2746Z' fill='%23333333'/%3E%3C/svg%3E");
  }
}

// New way

.try_btn_today {
  display: inline-block;
}

.new_way {
  padding: rem(120) 0 rem(112); 
}

.new_way_heading {
  text-align: center;
    h2 {
      margin-bottom: rem(4);
    }
    .logo_wrap {
      justify-content: center;
    }
}


.new_way_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: rem(52);
  margin-bottom: rem(72);
}

.new_way_item {
  display: grid;
  justify-content: center;
  text-align: center;
  img {
    border-radius: rem(16);
    width: rem(328);
    margin-bottom: rem(24);
  }
  h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
      content: "";
      display: block;
      width: rem(32);
      height: rem(32);
      background-repeat: no-repeat;
      background-position: center;
      margin-right: rem(8);
    }
  }
  &.upload {
    h4::before {
      background: url("data:image/svg+xml,%3Csvg width='33' height='32' viewBox='0 0 33 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.6968 14.344C16.6734 14.3141 16.6435 14.2899 16.6094 14.2733C16.5753 14.2567 16.5378 14.248 16.4999 14.248C16.462 14.248 16.4245 14.2567 16.3904 14.2733C16.3563 14.2899 16.3264 14.3141 16.303 14.344L12.803 18.7721C12.7742 18.8089 12.7563 18.8532 12.7514 18.8997C12.7465 18.9462 12.7548 18.9932 12.7753 19.0353C12.7958 19.0773 12.8278 19.1128 12.8675 19.1375C12.9072 19.1622 12.9531 19.1753 12.9999 19.1752H15.3093V26.7502C15.3093 26.8877 15.4218 27.0002 15.5593 27.0002H17.4343C17.5718 27.0002 17.6843 26.8877 17.6843 26.7502V19.1783H19.9999C20.2093 19.1783 20.3249 18.9377 20.1968 18.7752L16.6968 14.344Z' fill='%23333333'/%3E%3Cpath d='M25.8563 11.4594C24.425 7.68438 20.7781 5 16.5063 5C12.2344 5 8.5875 7.68125 7.15625 11.4563C4.47813 12.1594 2.5 14.6 2.5 17.5C2.5 20.9531 5.29687 23.75 8.74687 23.75H10C10.1375 23.75 10.25 23.6375 10.25 23.5V21.625C10.25 21.4875 10.1375 21.375 10 21.375H8.74687C7.69375 21.375 6.70312 20.9562 5.96562 20.1969C5.23125 19.4406 4.84063 18.4219 4.875 17.3656C4.90313 16.5406 5.18437 15.7656 5.69375 15.1125C6.21562 14.4469 6.94688 13.9625 7.75938 13.7469L8.94375 13.4375L9.37813 12.2937C9.64688 11.5812 10.0219 10.9156 10.4937 10.3125C10.9596 9.71471 11.5114 9.18922 12.1313 8.75313C13.4156 7.85 14.9281 7.37187 16.5063 7.37187C18.0844 7.37187 19.5969 7.85 20.8813 8.75313C21.5031 9.19063 22.0531 9.71562 22.5187 10.3125C22.9906 10.9156 23.3656 11.5844 23.6344 12.2937L24.0656 13.4344L25.2469 13.7469C26.9406 14.2031 28.125 15.7437 28.125 17.5C28.125 18.5344 27.7219 19.5094 26.9906 20.2406C26.632 20.6013 26.2054 20.8873 25.7355 21.082C25.2656 21.2768 24.7618 21.3763 24.2531 21.375H23C22.8625 21.375 22.75 21.4875 22.75 21.625V23.5C22.75 23.6375 22.8625 23.75 23 23.75H24.2531C27.7031 23.75 30.5 20.9531 30.5 17.5C30.5 14.6031 28.5281 12.1656 25.8563 11.4594Z' fill='%23333333'/%3E%3C/svg%3E");
    }
  }
  &.click {
    h4::before {
      background: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 3.2002C12.2121 3.2002 12.4156 3.28448 12.5656 3.43451C12.7157 3.58454 12.8 3.78802 12.8 4.0002V7.2002C12.8 7.41237 12.7157 7.61585 12.5656 7.76588C12.4156 7.91591 12.2121 8.0002 12 8.0002C11.7878 8.0002 11.5843 7.91591 11.4343 7.76588C11.2842 7.61585 11.2 7.41237 11.2 7.2002V4.0002C11.2 3.78802 11.2842 3.58454 11.4343 3.43451C11.5843 3.28448 11.7878 3.2002 12 3.2002ZM5.77595 5.7762C5.85026 5.70169 5.93854 5.64259 6.03574 5.60226C6.13293 5.56192 6.23712 5.54117 6.34235 5.54117C6.44758 5.54117 6.55177 5.56192 6.64896 5.60226C6.74616 5.64259 6.83444 5.70169 6.90875 5.7762L9.17115 8.0402C9.24756 8.11399 9.30851 8.20227 9.35043 8.29987C9.39236 8.39748 9.41443 8.50245 9.41535 8.60867C9.41628 8.7149 9.39603 8.82024 9.35581 8.91856C9.31558 9.01688 9.25618 9.1062 9.18107 9.18131C9.10595 9.25643 9.01663 9.31583 8.91831 9.35605C8.82 9.39628 8.71465 9.41652 8.60843 9.4156C8.50221 9.41467 8.39723 9.3926 8.29963 9.35068C8.20202 9.30875 8.11375 9.2478 8.03995 9.1714L5.77755 6.909C5.62757 6.75897 5.54332 6.55553 5.54332 6.3434C5.54332 6.13126 5.62757 5.92782 5.77755 5.7778L5.77595 5.7762ZM18.224 5.7762C18.2985 5.85051 18.3576 5.93879 18.3979 6.03598C18.4382 6.13317 18.459 6.23737 18.459 6.3426C18.459 6.44782 18.4382 6.55202 18.3979 6.64921C18.3576 6.7464 18.2985 6.83468 18.224 6.909L15.9584 9.1714C15.8846 9.2478 15.7963 9.30875 15.6987 9.35068C15.6011 9.3926 15.4961 9.41467 15.3899 9.4156C15.2836 9.41652 15.1783 9.39628 15.08 9.35605C14.9817 9.31583 14.8923 9.25643 14.8172 9.18131C14.7421 9.1062 14.6827 9.01688 14.6425 8.91856C14.6023 8.82024 14.582 8.7149 14.583 8.60867C14.5839 8.50245 14.6059 8.39748 14.6479 8.29987C14.6898 8.20227 14.7507 8.11399 14.8272 8.0402L17.0896 5.7778C17.2396 5.62782 17.443 5.54357 17.6552 5.54357C17.8673 5.54357 18.0707 5.62782 18.2208 5.7778L18.224 5.7762ZM3.19995 12.0002C3.19995 11.788 3.28424 11.5845 3.43427 11.4345C3.5843 11.2845 3.78778 11.2002 3.99995 11.2002H7.19995C7.41212 11.2002 7.61561 11.2845 7.76564 11.4345C7.91567 11.5845 7.99995 11.788 7.99995 12.0002C7.99995 12.2124 7.91567 12.4159 7.76564 12.5659C7.61561 12.7159 7.41212 12.8002 7.19995 12.8002H3.99995C3.78778 12.8002 3.5843 12.7159 3.43427 12.5659C3.28424 12.4159 3.19995 12.2124 3.19995 12.0002ZM12 12.8514V27.6674C11.9997 27.8258 12.0464 27.9808 12.1343 28.1126C12.2222 28.2444 12.3473 28.3472 12.4936 28.4079C12.64 28.4685 12.801 28.4844 12.9564 28.4534C13.1118 28.4224 13.2545 28.346 13.3664 28.2338L17.4624 24.1378C18.0623 23.5376 18.8761 23.2004 19.7248 23.2002H24.896C25.062 23.2001 25.2239 23.1483 25.3592 23.052C25.4945 22.9557 25.5965 22.8197 25.651 22.6628C25.7055 22.506 25.7099 22.336 25.6635 22.1766C25.617 22.0171 25.5221 21.8761 25.392 21.773L13.296 12.2226C13.178 12.1294 13.0361 12.0713 12.8866 12.055C12.7371 12.0387 12.586 12.0649 12.4507 12.1305C12.3154 12.1962 12.2014 12.2986 12.1217 12.4261C12.0419 12.5536 11.9997 12.701 12 12.8514Z' fill='%23333333'/%3E%3C/svg%3E");
    }
  }
  &.deliver {
    h4::before {
      background: url("data:image/svg+xml,%3Csvg width='33' height='32' viewBox='0 0 33 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_110_1422)'%3E%3Cpath d='M29.0334 22.9333C28.972 23.2343 28.8086 23.5048 28.5707 23.6991C28.3329 23.8935 28.0353 23.9998 27.7281 24H8.44677C8.24915 23.9998 8.05403 23.9558 7.87553 23.8709C7.69704 23.7861 7.53963 23.6627 7.4147 23.5095C7.28978 23.3564 7.20045 23.1774 7.15319 22.9855C7.10593 22.7936 7.10192 22.5936 7.14144 22.4L9.91877 9.06667C9.9802 8.76573 10.1436 8.49522 10.3815 8.30087C10.6193 8.10652 10.917 8.00024 11.2241 8H30.5001C30.6977 8.00016 30.8929 8.04424 31.0714 8.12907C31.2498 8.2139 31.4073 8.33734 31.5322 8.49047C31.6571 8.6436 31.7464 8.82259 31.7937 9.01448C31.841 9.20637 31.845 9.40637 31.8054 9.6L29.0334 22.9333Z' stroke='%23333333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.4028 8.28271L17.2255 15.6307C17.6637 16.1026 18.2579 16.3999 18.8983 16.4678C19.5387 16.5357 20.1821 16.3695 20.7095 16L31.5028 8.44538' stroke='%23333333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.16675 9.3335H6.50008' stroke='%23333333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.16675 13.3335H5.16675' stroke='%23333333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.16675 17.3335H3.83341' stroke='%23333333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_110_1422'%3E%3Crect width='32' height='32' fill='white' transform='translate(0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
  }
}

// Section Info

.section_info {
  padding: rem(64) 0;
  background: $bg_light;
}

.info_item {
  h2 {
    margin-bottom: rem(40);
  }
  &:not(:last-child) {
    margin-bottom: rem(48);
  }
}

// Opportunities

.opportunities {
  padding: rem(112) 0 rem(80);
  .content_images {
    flex: 0 0 auto;
  } 
}

.opportunities_content_item {
  h2 {
    margin-bottom: rem(32);
  }
  &:not(:last-child) {
    margin-bottom: rem(48);
  }
}





// Responsive

//------------- 768 --------------- //

@media screen and (min-width: 768px) {

  // Quote
  .quote_message {
    max-width: rem(462);
    margin: 0 auto;
  }

  // Old way

  .old_way_list {
    gap: rem(104);
    grid-template: repeat(2,1fr) / repeat(3, rem(148));
  }
 
  .old_way_item {
    &::after {
      width: rem(40) !important;
      right: rem(-72);
    }
    &.stamp {
      grid-row: 2;
      grid-column: 3;
    }
    &.box {
      grid-row: 2;
      grid-column: 2;
      &::after {
        transform: none;
        top: rem(36);
        right: rem(-72);
      }
    }
    &.envelope::after {
      top: auto;
      bottom: rem(-54);
    }
    &.print::after {
      display: block;
    }
    &.stamp::after {
      display: none;
    }
    &.deliver::after {
      left: auto;
      right: rem(-72);
    }
  }

  .way_icon {
    &.print::after, &.stamp::after {
      display: none;
    }
  }

  // New way
 
  .new_way_list {
    flex-direction: row;
    gap: rem(30);
    img {
      width: rem(370);
    }
  }

  .new_way_heading {
    display: flex;
    justify-content: center;
  }

}

//------------- 1280 --------------- //

@media screen and (min-width: 1280px) {

  // Quote

  .quote_message {
    max-width: rem(570);
  }

  // Advantage offer

  .advantage_offer {
  }
  .offer_message {
    max-width: rem(772);
  }

  // Old way

  .old_way {
    h2 {
      text-align: left;
    }
  }

  .old_way_list {
    display: flex;
    justify-content: space-between;
    gap: rem(58);
  }

  .old_way_item {
    &::after {
      right: rem(-50);
    }
    &.envelope::after, &.box::after {
      transform: none;
      top: rem(36);
      right: rem(-50);
    }
    &.stamp::after {
      display: block;
    }
    &.deliver::after {
      display: none;
    }
  }
  
  // New way

  .new_way {
    padding-top: rem(176);
  }
  
  .new_way_list {
    .try_btn {
      display: block;
      max-width: rem(126);
      margin: 0 auto;
    }
  }

  // Opportunities

  .opportunities_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
} 







// Extra breakpoints

@media screen and (max-width: 362px) {
  .try_btn_today {
    display: block;
  }
}

